spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rewards
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update        # Hibernate сам создаёт и обновляет таблицы
    show-sql: true
    properties:
      hibernate.format_sql: true

server:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB